
html {
  font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif ;
  font-size: 0cm;
}

html, body {
  margin: 40;
  padding: 40;
  background-color: chocolate;
}

.logo{
  text-align: start;
  background: color#ff0000;
  color:#00fff0;
  padding: 0.5em;
}

#character-bar {
  height: 15vh;
  background:#00fff0;
  display:inline-flex;
  

  justify-content: space-around;
  align-items: center;
  padding-bottom: 3vh;
}

#character-bar span {
  padding: 7%;
  height: 80%;
  width: 8vw;
  display: flex;
  justify-content: center;
  font-size: 2vh;
  align-items: center;
  border-radius: 2em;
  border: indigo -600%;;
}

.characterInfo{
  height: 50pc;
  padding: 30px;
  font-size: 24px;
  border:  -4%;;
  text-align: center;
}

input[type="submit"], button {
  background-color:orange;
  color:yellowgreen;
  font-size: 30px;
  border-radius: 20px;
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}



#image{
  width: 200px;
  height: 200px;
}
